.footer {
    background: url(../../img/backgrounds/stars-bg.jpg);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins';
    padding: 10px;
}

.footer-img {
    width: 120px;
}

.footer-socials {
    display: flex;
    gap: 20px;
}

.footer-socials li {
    background: #FFB200;
    padding: 10px;
    border-radius: 60px;
}
